@mixin defaultSet($height){
    @if ($height > 0){
        height: $height;
    }
    width: 100%;
    box-sizing: border-box;
    color:#fff;
}

@mixin setLayout($direction, $justify, $aling){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}